<section id="about">
  <h2>About</h2>

  <p>
    <strong>Women Techmakers</strong> is a program created by <strong>Google</strong> to celebrate International Women's Day and to highlight the talent of women in technology. In 2017, we decided to organize the second edition in Montreal as part of the special event <strong>"The Women Techmakers Global Event Series Celebrating International Women’s Day"</strong> (WTM IWD). This program has been in over 200 global events and seen across 52 countries. The main focus of this community-building initiative is to promote talented and passionate women, increase the visibility of the Montreal technology community and honour women in technology.
  </p>

  <img src="{{ "/assets/images/logo-gdg.png" | relative_url }}" alt="Google's Women Techmakers 2017">
</section>
