<section id="accomodations">
  <div class="uk-container uk-container-center">
    <h2>Accomodations</h2>

    <p>
      alt Hotel Montreal<br>
      120 Peel Street<br>
      Montreal (Quebec) H3C 0L8
    </p>

    <p>
      Special rate of 144$/night for one bed room (sleep 2) or 164$/night for two bed room (sleep 4)<br>
      You must call +1 855 823-8120 (toll-free) to reserve and mention Women Techmakers<br>
      Special rates are available from April 7th to April 10th, 2017
    </p>

    <a href="http://www.althotels.com/en/montreal/" target="_blank">Website</a>
  </div>
</section>
