<section id="accomodations">
  <div class="uk-container uk-container-center">
    <h2>Accomodations</h2>

    <div class="card card-right-oriented">
      <img class="uk-margin-large-bottom" src="{{ "/assets/images/alt-hotel-montreal.jpg" | relative_url }}" alt="alt Hotel Montreal" width="225">

      <div class="card-content">
        <h3>
          alt Hotel Montreal<br>
          <small>120 Peel Street, Montreal, QC H3C 0L8</small>
        </h3>

        <p>
          <strong>$144/night</strong> for one bed room (sleep 2)<br>
          <strong>$164/night</strong> for two bed room (sleep 4)
        </p>

        <p>
          <strong>You must call +1 855 823-8120 (toll-free) to reserve and mention Women Techmakers</strong><br>
          Special rates are available from April 7th to April 10th, 2017
        </p>

        <p>
          <a href="http://www.althotels.com/en/montreal/" class="uk-button uk-button-large" target="_blank">Website</a>
        </p>
      </div>
    </div>
  </div>
</section>
