<footer>
  <div class="uk-container uk-container-center">
    <p>
      Women Techmakers Montreal 2017 - <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>

    <p>
      Follow us on:<br>
      <a href="https://www.facebook.com/wtm.montreal/" class="uk-icon-facebook uk-icon-hover uk-icon-small uk-margin-small-right" target="_blank"></a>
      <a href="https://twitter.com/WTM_Montreal" class="uk-icon-twitter uk-icon-hover uk-icon-small uk-margin-small-left uk-margin-small-right" target="_blank"></a>
      <a href="https://www.youtube.com/channel/UCoFthyfjoNbD-yclJ8ZqdjA" class="uk-icon-youtube uk-icon-hover uk-icon-small uk-margin-small-left uk-margin-small-right" target="_blank"></a>
      <a href="https://www.linkedin.com/company/women-techmakers-montreal/" class="uk-icon-linkedin uk-icon-hover uk-icon-small uk-margin-small-left uk-margin-small-right" target="_blank"></a>
      <a href="https://plus.google.com/b/107868800583878470432/107868800583878470432/posts" class="uk-icon-google-plus uk-icon-hover uk-icon-small uk-margin-small-left" target="_blank"></a>
    </p>
  </div>
</footer>
