<footer>
  <div class="uk-container uk-container-center uk-text-center">
    <p>
      Women Techmakers Montreal 2017 – <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </p>

    <p>
      <a href="https://www.facebook.com/wtm.montreal/" class="uk-icon-facebook-square uk-icon-hover uk-icon-small uk-margin-small-right" target="_blank"></a>
      <a href="https://twitter.com/WTM_Montreal" class="uk-icon-twitter-square uk-icon-hover uk-icon-small uk-margin-small-left uk-margin-small-right" target="_blank"></a>
      <a href="https://www.youtube.com/channel/UCoFthyfjoNbD-yclJ8ZqdjA" class="uk-icon-youtube-square uk-icon-hover uk-icon-small uk-margin-small-left uk-margin-small-right" target="_blank"></a>
      <a href="https://www.linkedin.com/company/women-techmakers-montreal/" class="uk-icon-linkedin-square uk-icon-hover uk-icon-small uk-margin-small-left uk-margin-small-right" target="_blank"></a>
      <a href="https://plus.google.com/b/107868800583878470432/107868800583878470432/posts" class="uk-icon-google-plus-square uk-icon-hover uk-icon-small uk-margin-small-left" target="_blank"></a>
    </p>
  </div>
</footer>
