<footer>
  <p>
    Google's Women Techmakers 2016 - <a href="mailto:{{ site.email }}">{{ site.email }}</a><br>Official Women Techmakers website: <a href="https://www.womentechmakers.com/iwd16">https://www.womentechmakers.com/iwd16</a>
  </p>

  <p>
    <a href="https://www.facebook.com/wtm.montreal/" target="_blank">
      <i class="uk-icon-facebook"></i>
    </a>

    <a href="https://twitter.com/WTM_Montreal" target="_blank">
      <i class="uk-icon-twitter"></i>
    </a>

    <a href="https://www.youtube.com/channel/UCoFthyfjoNbD-yclJ8ZqdjA" target="_blank">
      <i class="uk-icon-youtube"></i>
    </a>

    <a href="https://www.linkedin.com/company/women-techmakers-montreal/" target="_blank">
      <i class="uk-icon-linkedin"></i>
    </a>

    <a href="https://plus.google.com/b/107868800583878470432/107868800583878470432/posts" target="_blank">
      <i class="uk-icon-google-plus"></i>
    </a>
  </p>
</footer>
