<section id="schedule">
  <div class="uk-container uk-container-center">
    <h2>Schedule</h2>

    <ul class="uk-tab" data-uk-tab="{connect:'#schedule-tabs'}">
      <li><a href="">APRIL 1</a></li>
      <li><a href="">APRIL 2</a></li>
    </ul>

    <ul id="schedule-tabs" class="uk-switcher uk-margin">
      <li>
        <div class="uk-container uk-container-center uk-text-center">
          <div class="uk-grid uk-flex uk-flex-center">
            {% for time in site.data.schedule-day-1 %}
              <div class="uk-width-1-1">
                <span class="schedule-time">{{ time[0] }}</span>
              </div>

              <div class="uk-width-1-1">
                <div class="uk-grid uk-flex uk-flex-center">
                  {% for schedule in time[1] %}
                    <div class="uk-width-1-2 uk-width-small-1-2">
                      {% include day.html %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </li>
      <li>
        <div class="uk-container uk-container-center uk-text-center">
          <div class="uk-grid uk-flex uk-flex-center">
            {% for time in site.data.schedule-day-2 %}
              <div class="uk-width-1-1">
                <span class="schedule-time">{{ time[0] }}</span>
              </div>

              <div class="uk-width-1-1">
                <div class="uk-grid uk-flex uk-flex-center">
                  {% for schedule in time[1] %}
                    <div class="uk-width-1-2 uk-width-small-1-2">
                      {% include day.html %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
