<section id="schedule" class="section-primary">
  <div class="uk-container uk-container-center">
    <h2>Schedule</h2>

    <p class="uk-text-center">Coming on February 1st, 2017. We will receive speakers from over the world this year, stay tuned!</p>

    <!-- <ul class="uk-tab" data-uk-tab="{connect:'#schedule-tabs'}">
      <li><a href="">APRIL 8</a></li>
      <li><a href="">APRIL 9</a></li>
    </ul>

    <ul id="schedule-tabs" class="uk-switcher uk-margin">
      <li>
        <ul class="schedule">
          {% for time in site.data.schedule-day-1 %}
            <li>
              <span class="schedule-time">{{ time[0] }}</span>
              <ul>
                {% for schedule in time[1] %}
                  <li>{% include day.html %}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <ul class="schedule">
          {% for time in site.data.schedule-day-2 %}
            <li>
              <span class="schedule-time">{{ time[0] }}</span>
              <ul>
                {% for schedule in time[1] %}
                  <li>{% include day.html %}</li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul> -->
  </div>
</section>
