<section id="speakers">
  <div class="uk-container uk-container-center uk-text-center">
    <h2>Keynote</h2>

    <div class="uk-grid uk-flex uk-flex-center">
      {% assign key = "alicia-v-carr" %}
      {% assign speaker = site.data.speakers[key] %}
      {% include speaker.html %}
    </div>

    <h2>Speakers</h2>

    <div class="uk-grid uk-flex uk-flex-center">
      {% for data in site.data.speakers %}
        {% if data[0] == "alicia-v-carr" %}
          {% continue %}
        {% endif %}
        {% assign key = data[0] %}
        {% assign speaker = data[1] %}
        {% include speaker.html %}
      {% endfor %}
    </div>
  </div>
</section>
