<section id="subscription" class="uk-flex uk-flex-middle">
  <div class="uk-text-center uk-width-1-1">
    <h2>Subscribe to our mailing list</h2>

    <p>We will keep you updated about the latest news!</p>

    <form class="uk-form" action="//wtm-montreal.us12.list-manage.com/subscribe/post?u=d1707279f0dde7f68a6f98ab0&amp;id=35def8d91c" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <fieldset>
        <input type="hidden" name="b_d1707279f0dde7f68a6f98ab0_35def8d91c" tabindex="-1" value="">

        <div class="uk-form-row">
          <input class="uk-form-large" type="email" name="EMAIL" value="">

          <button type="submit" name="subscribe" class="uk-button uk-button-large">
            <i class="uk-icon uk-icon-paper-plane"></i>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
