<section id="subscription">
  <h2>Subscribe to our mailing list</h2>

  <p>We will keep you updated about the latest news!</p>

  <form class="uk-form" action="//wtm-montreal.us12.list-manage.com/subscribe/post?u=d1707279f0dde7f68a6f98ab0&amp;id=35def8d91c" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <fieldset>
      <input type="hidden" name="b_d1707279f0dde7f68a6f98ab0_35def8d91c" tabindex="-1" value="">

      <div class="uk-form-row">
        <input type="email" name="email" value="">
      </div>

      <div class="uk-form-row">
        <input class="uk-button uk-button-primary" type="submit" name="subscribe" value="Subscribe">
      </div>

      <div class="uk-form-row" id="mce-responses">
        <div id="mce-error-response"></div>
        <div id="mce-success-response"></div>
      </div>
    </fieldset>
  </form>
</section>
