<section id="venue">
  <img class="uk-border-circle uk-margin-large-bottom" src="{{ "/assets/images/ets-pavillon-a.jpg" | relative_url }}" alt="ÉTS – Pavillon A" width="225">

  <h2>Venue</h2>

  <h3>École de technologie supérieure</h3>

  <h4>1100 Notre-Dame W, Montreal, QC H3C 1K3</h4>

  <p>
    <strong>École de technologie supérieure (ÉTS) </strong> is a public engineering school in Montreal, Quebec, Canada. Founded in 1974, the École de technologie supérieure is part of the Université du Québec system and offers undergraduate, graduate and doctoral programs.
  </p>

  <a href="https://www.google.ca/maps/dir/''/%C3%A9cole+de+technologie+sup%C3%A9rieure/@45.4944608,-73.6324918,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x4cc91a60aa839707:0xb732a719a45c45f6!2m2!1d-73.562452!2d45.4944822" class="uk-button" target="_blank">Itinerary</a>
</section>
