---
---

@charset "utf-8";

@import "uikit-mixins.scss";
@import "uikit-variables.scss";

$base-body-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$button-background: #00bea4;
$button-color: #fff;
$button-hover-background: #1ce9b6;
$button-hover-color: #fff;
$button-active-background: #1ce9b6;
$button-active-color: #fff;
$button-primary-background: #4285f4;
$button-primary-hover-background: #4fc3f7;
$button-primary-active-background: #4fc3f7;
$icon-font-path: "../assets/fonts";
$navbar-background: transparent;
$navbar-nav-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-nav-hover-background: transparent;
$navbar-nav-onclick-background: transparent;
$navbar-nav-active-background: transparent;
$base-h2-font-size: 38px;

a, button {
  transition: background 0.25s ease, color 0.25s ease;
}

h4 {
  &[class*="sponsors-"] {
    text-transform: uppercase;
  }

  &.sponsors-platinum {
    color: #A0B8C7;
  }

  &.sponsors-gold {
    color: #D4AF37;
  }

  &.sponsors-silver {
    color: #A5A5A5;
  }

  &.sponsors-bronze {
    color: #CD7F32;
  }
}

header {
  height: 100px;

  div.uk-flex {
    a {
      img {
        height: 60px;
      }
    }
  }
}

section {
  padding: 60px 0;

  &.section-primary {
    background-color: #00bea4;
  }

  &.section-secondary {
    background-color: #4285f4;
  }

  &.section-primary,
  &.section-secondary {
    h1, h2, p {
      color: #fff;
    }
  }
}

section#header {
  padding: 0;

  > div {
    background-image: url('../assets/images/header.jpg');
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
    overflow: hidden;

    div {
      h1 {
        span, small {
          font-weight: 300;
        }
      }

      p {
        font-weight: 300;
      }
    }
  }
}

section#buy-tickets {
  .uk-container {
    background-color: #4285f4;
    max-width: 100%;
    margin-bottom: 45px;
    padding: 45px;
    position: relative;
    width: 680px;
    overflow: hidden;

    &:after {
      border-style: solid;
      border-width: 0 0 50px 680px;
      border-color: transparent transparent #fff transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      width: 0;
    }

    h2 {
      color: #ffffff;
      font-size: 24px;
      width: 75%;
      margin: 0 auto 40px;

      &:after {
        display: none;
      }
    }

    a.uk-button {
      bottom: 10px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: 1;
      min-height: 50px;
      padding: 0 20px;
      line-height: 50px;
      font-size: 22px;
    }
  }
}

section#subscription {
  padding: 30px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -280px;
  background-color: #fff;
  bottom: -100px;
  z-index: 2;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.65);

  .uk-form {
    .uk-form-large {
      width: 75%;
    }

    .uk-button {
      color: #fff;
      margin-left: -5px;
      padding: 0 15px 0 13px;
    }
  }
}

section#schedule {
  .schedule-time {
    height: 40px;
    line-height: 40px;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    display: block;
  }

  .schedule-item {
    padding: 15px 20px 0;
  }
}

section#about {
  padding-top: 170px;
}

@import "uikit.scss";

h2, .uk-h2 {
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;

  &:after {
    background: #4285f4;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    margin-top: 15px;
    position: absolute;
    transform: translateX(-50%);
    width: 100px;
  }
}

section {
  &#venue, &#accomodations {
    margin: 0 auto;
    max-width: 100%;
    width: 800px;

    .uk-container {
      padding: 0;
    }
  }
}

.card {
  min-height: 375px;
  position: relative;

  &.card-left-oriented {
    img {
      left: 0;
    }

    .card-content {
      right: 0;
    }
  }

  &.card-right-oriented {
    img {
      right: 0;
    }

    .card-content {
      left: 0;
    }
  }

  img {
    display: block;
    margin: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 375px;
  }

  .card-content {
    background: #ffffff;
    padding: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
  }
}

.input-group {
  input {
    margin: 0;
  }

  button {
    margin: 0;
  }
}

footer {
  background-color: #4285f4;
  padding: 45px 0 25px;

  p, a, .uk-icon-hover {
    color: #ffffff;
  }
}

@media (max-width: 959px) {
  section#subscription {
    bottom: -150px;
  }

  section#about {
    padding-top: 220px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 32px;
  }

  section#header {
    max-height: 400px;

    div,
    canvas {
      max-height: 400px;
    }
  }

  section#subscription {
    width: inherit;
    position: inherit;
    left: inherit;
    margin-left: inherit;
    bottom: inherit;
  }

  section#about {
    padding-top: 60px;
  }

  section#venue {
    width: inherit;
  }

  .card {
    min-height: inherit;

    &.card-left-oriented {
      img {
        left: inherit;
      }

      .card-content {
        right: inherit;
      }
    }

    &.card-right-oriented {
      img {
        right: inherit;
      }

      .card-content {
        left: inherit;
      }
    }

    img {
      position: inherit;
      top: inherit;
      margin-bottom: inherit!important;
      position: inherit;
      width: 100%;
    }

    .card-content {
      position: inherit;
      top: inherit;
      transform: inherit;
      width: inherit;
      padding-bottom: 0;
    }
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }

  .uk-heading-large {
    font-size: 30px;
    line-height: 36px;
  }

  section#header {
    max-height: 300px;

    div,
    canvas {
      max-height: 300px;
    }
  }
}

