---
---

@charset "utf-8";

@import "uikit-mixins.scss";
@import "uikit-variables.scss";

$base-body-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$button-background: #00bea4;
$button-color: #fff;
$button-hover-background: #1ce9b6;
$button-hover-color: #fff;
$button-active-background: #1ce9b6;
$button-active-color: #fff;
$button-primary-background: #4285f4;
$button-primary-hover-background: #4fc3f7;
$button-primary-active-background: #4fc3f7;
$icon-font-path: "../assets/fonts";
$navbar-background: transparent;
$navbar-nav-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-nav-hover-background: transparent;
$navbar-nav-onclick-background: transparent;
$navbar-nav-active-background: transparent;
$base-h2-font-size: 38px;

header {
  height: 100px;

  div.uk-flex {
    a {
      img {
        height: 60px;
      }
    }
  }
}

section {
  padding: 40px 0;

  &.section-primary {
    background-color: #00bea4;
  }

  &.section-secondary {
    background-color: #4285f4;
  }

  &.section-primary,
  &.section-secondary {
    h1, h2, p {
      color: #fff;
    }
  }
}

section#header {
  padding: 0;

  > div {
    background-image: url('../assets/images/header.jpg');
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
    overflow: hidden;

    div {
      h1 {
        span, small {
          font-weight: 300;
        }
      }

      p {
        font-weight: 300;
      }
    }
  }
}

section#subscription {
  padding: 30px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -280px;
  background-color: #fff;
  bottom: -100px;
  z-index: 2;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.65);

  .uk-form {
    .uk-button {
      color: #fff;
    }
  }
}

section#about {
  padding-top: 140px;
}

@import "uikit.scss";

h2, .uk-h2 {
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;

  &:after {
    background: #4285f4;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    margin-top: 15px;
    position: absolute;
    transform: translateX(-50%);
    width: 100px;
  }
}

section {
  &#venue, &#accomodations {
    margin: 0 auto;
    max-width: 100%;
    width: 800px;

    .uk-container {
      padding: 0;
    }
  }
}

.card {
  min-height: 375px;
  position: relative;

  img {
    display: block;
    margin: 0;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 375px;
  }

  .card-content {
    background: #ffffff;
    padding: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
  }

  @media (max-width: $breakpoint-small-max) {
    img, .card-content {
      position: relative;
      width: 100%;
    }

    .card-content {
      box-sizing: border-box;
    }
  }

  &.card-left-oriented {
    img {
      left: 0;
    }

    .card-content {
      right: 0;
    }
  }

  &.card-right-oriented {
    img {
      right: 0;
    }

    .card-content {
      left: 0;
    }
  }
}