<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ "/assets/js/uikit.js" | relative_url }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/tween-lite.min.js" | relative_url }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/ease-pack.min.js" | relative_url }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/raf.js" | relative_url }}" type="text/javascript"></script>
    <script src="{{ "/assets/js/header.js" | relative_url }}" type="text/javascript"></script>
  </body>
</html>
